.signUp {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signUp h1 {
    font-size: 4rem;
    margin-top: 20px;
    color: #878d92;
    font-weight: bold;
    padding: 15px 0;
  }
  
  .signUp form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .signUp form input:not([type="submit"]) {
    width: 100%;
    padding: 10px;
    border: 2px solid #878d92;
    outline: none !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.99rem;
    font-weight: bold;
    color: #878d92;
  }
  
  .signUp form button {
    width: 100%;
    padding: 10px;
    border: 2px solid #878d92;
    outline: none !important;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.99rem;
    color: #878d92;
    background: #fff;
    cursor: pointer;
    transition: 0.3s linear;
  }
  
  .signUp form button:hover {
      background: #878d92;
      color: #fff;
  }